<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Unity WebGL Player | Dino Run</title>
  </head>
  <body style="text-align: center">
    <canvas
      id="unity-canvas"
      width="375"
      height="211"
      style="width: 375px; height: 211px; background: #231f20"
    ></canvas>
    <script src="Build/dinorun.loader.js"></script>
    <script>
      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        // Mobile device style: fill the whole browser client area with the game canvas:
        var meta = document.createElement("meta");
        meta.name = "viewport";
        meta.content =
          "width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes";
        document.getElementsByTagName("head")[0].appendChild(meta);
      }

      createUnityInstance(document.querySelector("#unity-canvas"), {
        dataUrl: "Build/dinorun.data",
        frameworkUrl: "Build/dinorun.framework.js",
        codeUrl: "Build/dinorun.wasm",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "kiwi",
        productName: "Dino Run",
        productVersion: "1.0",
        // matchWebGLToCanvasSize: false, // Uncomment this to separately control WebGL canvas render size and DOM element size.
        // devicePixelRatio: 1, // Uncomment this to override low DPI rendering on high DPI displays.
      });
    </script>
  </body>
</html>
